body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 10px 0;
    font-size: 48px;
}

h1 .flip { color: #7ec8e3; }
h1 .venture { color: #f6b26b; }

canvas {
    background: #eee;
    border: 2px solid #000;
}
